.footer{
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   background-color: rgb(54, 54, 54);
   color: white;
   padding: 80px 40px ;
   margin: auto;
}
.logo-date{
display: flex;
flex-direction: column;
gap: 140px;
align-items: flex-start;
padding: 0 50px ;
}
.logo-date h1{
    font-size: 2rem;
}
.address{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}
.info-address{
    margin-top: 40px;
}
.nav-details, .social-icons{
    color: white;
    display: flex;
flex-direction: column;
gap: 30px;
text-transform: capitalize;
font-size: 1.2rem;
}
.social-icons{
    font-size: 1rem;
    gap: 40px;
}